<header class="post-header">
    <h2 class="w3-text-red post-title" itemprop="name headline"><b>{{ post.title | escape }}</b></h2>
    <h6 class="w3-text-grey post-meta">
        <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time>
        {% if post.author %}
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        — <span itemprop="name">{{ post.author }}</span>
        </span>
        {% endif %}
    </h6>
</header>